<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="OneNote_ScreenCapture.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <OneNote_ScreenCapture.Properties.Settings>
            <setting name="menu" serializeAs="String">
                <value>menuStrip1</value>
            </setting>
            <setting name="printButton" serializeAs="String">
                <value>printToolStripMenuItem</value>
            </setting>
        </OneNote_ScreenCapture.Properties.Settings>
    </userSettings>
</configuration>